/* Q.1 */
a{
    margin: 20px;
}

/* Q.2 */
.mobile-image {
    width: 200px;
    height: 300px;
    margin: 10px;
    cursor: pointer;
    border: 1px, solid, black;
}

/* Q.3 */
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

/* Q.5 */
button {
    background-color: #ff3333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
